<div class="box-input">
  <label for="{{name}}">{{label}}</label>
  <input type="{{type}}" id="{{id}}" name="{{name}}" placeholder="{{placeholder}}" value="{{value}}"
    required="{{required}}">
</div>