<div class="card">
  <div>
    <a href="/recipes/{{this.id}}"><img src="{{this.imageSrc}}" alt="Image"></a>
  </div>
  <div>
    <a href="/recipes/{{this.id}}">
      <h3>{{this.title}}</h3>
    </a>
    <p class="type">
      {{#each this.types}}
      <span class="tag">{{this}}</span>
      {{/each}}
    </p>
    <p class="servings">{{this.servings}}
      {{#checkplural this.servings 1}}
      servings
      {{else}}
      serving
      {{/checkplural}}
    </p>
    <p class="time">{{this.time}} "</p>
  </div>
  <form action="/recipes/add-favorite/{{this._id}}
      " method="POST">
    <button type="submit"><i class="fas fa-heart"></i></button>
  </form>
</div>