<div class="card" data-aos="zoom-in">
  <div>
    <a href="/recipes/{{this.id}}"><img src="{{this.imageSrc}}" alt="{{this.imgName}}"></a>
  </div>
  <div>
    <a href="/recipes/{{this.id}}">
      <h3>{{this.title}}</h3>
    </a>
    <p class="type">
      {{#each this.types}}
      <span class="tag">{{this}}</span>
      {{/each}}
    </p>
    <p class="servings">{{this.servings}}
      {{#checkplural this.servings 1}}
      servings
      {{else}}
      serving
      {{/checkplural}}
    </p>
    <p class="time">{{this.time}}</p>
  </div>
  <!-- <form action="/add-favorite/{{this.id}}" method="POST">
    <button class="btn-rounded form-add" type="submit">
      <img src="/images/heart.svg" alt="Add to favorites" /></button>
  </form>  -->
  <button id="btnFavorite-{{@index}}" class="btn-rounded form-favorite {{#ifIn this.id @root.user.recipesFavorites }}form-delete {{else}}form-add{{/ifIn}}" data-recipeId="{{this.id}}">
    <img src=" /images/heart.svg" alt="Add to favorites" /></button>

</div>
