<div class="card">
  <div>
    <a href="/recipes/{{this.id}}"><img src="{{this.imageSrc}}" alt="{{this.imgName}}"></a>
  </div>
  <div>
    <a href="/recipes/{{this.id}}">
      <h3>{{this.title}}</h3>
    </a>
    <p class="type">
      {{#each this.types}}
      <span class="tag">{{this}}</span>
      {{/each}}
    </p>
    <p class="servings">{{this.servings}}
      {{#checkplural this.servings 1}}
      servings
      {{else}}
      serving
      {{/checkplural}}
    </p>
    <p class="time">{{this.time}} "</p>
  </div>
  <form action="/delete-favorite/{{this.id}}" method="POST">
    <button class="btn-rounded form-delete" type="submit">
      <img src="/images/heart.svg" alt="Add to favorites" /></button>
  </form>

</div>