<div class="container-fluid single-recipe">
  <div class="container">
    <h1>Blog</h1>
  </div>
  {{#each recipe}}
  <div class="container" data-aos="fade-up" data-aos-anchor-placement="top-center">
    <div class=" wrapper">
      <div class="left">
        <h2>{{this.title}}</h2>
        <div class="image"><img src="{{this.imageSrc}}" alt="{{this.imgName}}">
        </div>
        <div class="details">
          <div class="type">
            <p>
              {{#each this.types}}
              <span class="tag">{{this}}</span>
              {{/each}}
            </p>
          </div>
          <div class="time">
            <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{this.time}} "</p>
          </div>
          <div class="servings">
            <p><i class="fa fa-cutlery" aria-hidden="true"></i>
              {{#checkplural this.servings 1}}
              Servings:
              {{else}}
              Serving:
              {{/checkplural}}
              {{this.servings}}
            </p>
          </div>
          <div class="ingredients">
            <p><i class="fa fa-shopping-basket" aria-hidden="true"></i> Ingredients:</p>
            <ul>
              {{#each this.ingredients}}
              <li class="ingredient">{{this.name}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="description">
            <p><i class="fa fa-book" aria-hidden="true"></i> Instructions:</p>
            <p><span>{{this.description}}</span></p>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="details blog-details">
          <div class="date">
            <p>
              <i class="fas fa-calendar-alt"></i>Posted at: <span>{{this.updatedAt}}</span>
            </p>
          </div>
          <div class="author">
            <p>
              <i class="fas fa-user-edit"></i> By: <span>Admin</span>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
  {{/each}}
</div>