<div class="container">
  <h1>Welcome {{user.lastname}}</h1>
  <h2>Total Users: <span>{{usersTotal}}</span></h2>

  <ul class="user-list" data-aos="fade-up-left">
    {{#each usersList}}

    <li>
      <div class="info">
        <p>ID: <span>{{this._id}}</span></p>
        <p>NAME: <span>{{this.name}} {{this.lastname}}</span></p>
        <p>EMAIL: <span>{{this.username}}</span></p>
        <p>ADDRESS: <span class="address">{{this.street}} <span class="city">{{this.city}}</span> <span
              class="country">{{this.country}}</span></span></p>
        <p>VISITS: <span>{{this.visits}}</span></p>
      </div>
      <div class="actions">
        <form action="/users/delete/{{this._id}}
      " method="POST" class="user-delete">
          <button type="submit"><i class="fa fa-trash-alt"></i></button>
        </form>
        <form action="/users/edit/{{this._id}}" method="POST" class="user-upload">
          <select name="rol">
            <option selected disabled hidden>{{this.rol}}
              </i>
            </option>
            <option value="admin">Admin</option>
            <option value="subscriber">Suscriber</option>
          </select>
          <button type="submit"><i class="fas fa-sync-alt"></i>

          </button>
        </form>
      </div>
    </li>

    {{/each}}
  </ul>
</div>