<div class="container box-ingredients">
  <h1>Your Shooping List {{user.lastname}}</h1>
  <h2>Total Ingredients: <span>{{ingredientsTotal}}</span></h2>

  <ul class="ingredient-list">
    {{#each user.ingredientsList}}
    <li>
      <p class="info">{{this.name}}</p>
      <form action="/ingredientlist/delete/{{this.id}}" method="POST" class="user-delete">
        <button type="submit"><i class="fa fa-trash-alt"></i></button>
      </form>
    </li>

    {{/each}}
  </ul>

  <ul id="print-list" class="print-list">
    <h1>Your Shooping List {{user.lastname}}</h1>
    <h2>Total Ingredients: <span>{{ingredientsTotal}}</span></h2>
    {{#each user.ingredientsList}}
    <li>{{this.name}}</li>
    {{/each}}
  </ul>

  <button id="btn-print" class="btn">Print</button>
</div>